* {
    
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    

}

header{
    background-color: #00cad1;
}

.conteudo-topo{
    max-width: 1024px;
    margin: 0 auto;
}
.topo {
    background-color: #00cad1;
    width: 100%;
  }
.topo .conteudo-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    padding: 0 10px;
    margin: 0 auto;
}
.topo-titulo {
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.topo-titulo a {
    display: flex;
}
.topo-logo{
    height: 60px;
} 
.topo-links{
    display: flex;
}
  
.topo-links a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
  
.topo-links a:hover {
    color: #004b4c;
}
/*Fim do Header*/
/*Começo Main*/
.container-especialidades{
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.container-especialidades nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container-especialidades a{
    text-decoration: none;
    border-bottom: 2px solid rgb(0, 238, 255);
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(95, 95, 95);
    font-weight: bold;
}
.container-especialidades a:hover{
    color:teal;   
}
.container-especialidades{
    color: rgb(95, 95, 95);
}
.container-especialidades h1{
    text-align: center;
}

.especialidade-sub-titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.box-tabela{
    display: flex;
    height: 240px;
    margin: 0 auto;
    max-width: 1024px;
    
}

.especialidade-sub-titulo h2, .especialidade-sub-titulo p{
    color: rgb(95, 95, 95);
}
.box-tabela img{
    width: 30%;
    height: 100%;   
}

.box-tabela table{
    border-spacing: 0;
    text-align: left;
    width: 70%;
    height: 100%;
}

.box-tabela thead tr {
    background-color: #00cad1;
    color: whitesmoke
  
}

.box-tabela tbody tr:nth-of-type(2n+1) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
  }

.box-tabela td{
    color: rgb(95, 95, 95);
} 
/*Fim do Main*/
/*Começo Rodapé*/
footer{
    background-color: #00cad1;
    margin: 0 auto;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}
/*Fim do Rodapé*/

/*Media Query  até 425px*/
@media only screen and (max-width: 425px){
    .conteudo-topo{
        flex-direction: column;
    }
    .box-tabela img{
        display: none;
    }
    .box-tabela table{
        border-spacing: 0;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

/*Media Query  max 768px*/
@media only screen and (max-width: 768px){
    .box-tabela img{
        display: none;
    }
    .box-tabela table{
        border-spacing: 0;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}